header {
  background-color: #CBC1B1;
}

.header-flex {
  height: 9vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: normal;
      align-content: normal;
}

.header-flex-item {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
}

#logo {
  margin-top: 0.5vh;
  height: 90%;
  margin-left: 8vw;
}

#burger {
  margin-top: 2.5vh;
  height: 40%;
  margin-right: 9vw;
}

@media only screen and (min-width: 800px) {
  #logo {
    height: 14.2vh;
  }
  .header-flex {
    height: 15.3vh;
  }
}

#table {
  margin: 5vh;
  background-color: #7C7474;
  font-family: 'Lato';
  font-style: normal;
  color: #F8F7EB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

#table-headline {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: 700;
  font-size: 2.8vmax;
}

#table-text {
  font-size: 100%;
  font-weight: 400;
  font-size: 1.5vmax;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1em;
}

#table-button {
  background-color: rgba(248, 247, 236, 0.3);
  padding: 0.5vh 2vh 0.5vh 2vh;
  text-transform: uppercase;
  color: black;
  font-size: 1.5vmax;
  font-weight: 500;
  -webkit-box-shadow: 10px 5px 12px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 5px 12px rgba(0, 0, 0, 0.3);
  letter-spacing: 0.1em;
}

.table-item {
  margin: 1%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-item-align: auto;
      align-self: auto;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.table-item:nth-child(1) {
  margin-top: 2.5vh;
}

#the-rest {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-family: 'Lato';
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 1.3vh;
}

#destinations-container {
  width: 100%;
  font-family: 'Lato';
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 1.3vh;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 2.3vmin;
  font-weight: 360;
}

.destinations-text {
  padding-top: 3vh;
  padding-left: 1vh;
}

.destinations-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -ms-flex-line-pack: normal;
      align-content: normal;
  margin: 4vh;
  width: 80vw;
  margin-bottom: 0vh;
  margin-top: 3vh;
}

.destinations-info {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  width: 200vw;
}

.destinations-img {
  width: 100%;
  height: 100%;
}

.footer {
  bottom: 0;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #CBC1B1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5%;
  height: 10vh;
}

.footer-text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 1.8vmax;
  line-height: 160%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.practic {
  margin-top: 6vh;
  margin-left: 12vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -ms-flex-line-pack: normal;
      align-content: normal;
}

.practic-item {
  margin: 3vmax 1.5vmax 3vmax 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -ms-flex-line-pack: normal;
      align-content: normal;
}

.practic-pictogram {
  width: 12vw;
}

.practic-text {
  margin-left: 1.5vmax;
  font-size: 4.5vw;
}

.contacts-text {
  font-family: 'Lato';
  font-style: normal;
  letter-spacing: 0.2em;
  margin-top: 7vh;
  font-weight: 700;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.contacts-grid {
  margin-top: 3vh;
  display: -ms-grid;
  display: grid;
  gap: 2.5vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contacts-grid-child {
  background-color: rgba(124, 116, 116, 0.3);
  height: 4vh;
  width: 86vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contacts-grid-child:nth-child(5) {
  background-color: rgba(124, 116, 116, 0.3);
  height: 20vh;
  width: 86vw;
}

.contacts-grid-text {
  margin-top: 0.9vh;
  margin-left: 1vh;
  font-family: 'Lato';
  font-style: normal;
  letter-spacing: 0.1em;
  font-size: 1.6vh;
  font-weight: 500;
}

@font-face {
  font-family: Lato;
  src: url(Fonts/Lato-Black.ttf);
}

body {
  background-color: #E5E5E5;
}

h2 {
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 800;
}
/*# sourceMappingURL=styles.css.map */