.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding: 20vh;
    justify-content: center;
}
.gridchild{
    background-color: rgb(0, 140, 255);
    padding: 1vh;
    height: 35vh;
    width: 35vh;
}
.gridchild:nth-child(1){
    grid-row-start: 1;
    grid-row-end: span 2;
    height: auto;
    
}
.gridchild:nth-child(7){
    grid-column-start: 2;
    grid-column-end: span 2;
}
.cont{
    align-content: center;
    padding-left: 10vh;
    padding-right: 10vh;
}
h1{
    color: rgb(214, 140, 3);
}